<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qican.ifarmmanager">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 收短信和读取短信的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/farm_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.qrcode.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.produce.ProduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.produce.CategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.produce.TypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.produce.DeviceProduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.produce.QRCodePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bt.ConnectBTPairedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bt.ConnectBTMacActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bt.SearchBTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.users.ChooseUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.FarmListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.AddFarmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.farm.AddLabelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.VerifyDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.AddCollectorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.AddAcquisitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.device.DeviceTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.IFMSettingActivity"
            android:screenOrientation="portrait" />

        <service android:name=".myprinter.WorkService" />

    </application>

</manifest>